<div ng-cloak>
  <md-toolbar color="primary">
    <img src="./assets/img/logo.svg" alt="" height="100%">

    <span class="logo">Directorio de Empresas</span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Crear cuenta</button>
    <button md-menu-item>Iniciar sesi&oacute;n</button>
  </md-menu>

  <md-grid-list cols="4">
    <md-grid-tile [colspan]="3" [rowspan]="2"
                  [style.background]="lightblue">
      <sebm-google-map [latitude]="lat" [longitude]="lng">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="'Titulo'"></sebm-google-map-marker>
      </sebm-google-map>
    </md-grid-tile>
    <md-grid-tile [colspan]="1" [rowspan]="1"
                  [style.background]="lightblue">
      <app-empresa-filter>Iniciando</app-empresa-filter>
    </md-grid-tile>
    <md-grid-tile [colspan]="1" [rowspan]="1"
                  [style.background]="lightblue">

      <app-empresa-list></app-empresa-list>
    </md-grid-tile>
  </md-grid-list>

  <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>



