<section>
  <div class="page-header">
    <h1>{{vm.empresa._id ? 'Editar Empresa' : 'Nueva Empresa'}}</h1>
  </div>
  <div class="col-xs-12 col-md-4">
    <form name="vm.form.empresaForm" class="form-horizontal" ng-submit="vm.save(vm.form.empresaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="razonSocial">Razón Social/Nombre </label>
          <input name="name" type="text" ng-model="vm.empresa.razonSocial" id="razonSocial" class="form-control"
                 placeholder="Razón Social/Nombre de la Empresa" required>
          <div ng-messages="vm.form.empresaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ingrese Razón Social/Nombre </p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="cuit">CUIT</label>
          <input name="cuit" type="text" ng-model="vm.empresa.cuit" id="cuit" class="form-control"
                 placeholder="CUIT de la Empresa">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="domicilio">Domicilio</label>
          <input name="domicilio" type="text" ng-model="vm.empresa.domicilio" id="domicilio" class="form-control"
                 placeholder="Domicilio de la Empresa" required ng-change="vm.searchByAddress()">
          <div ng-messages="vm.form.empresaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ingrese Domicilio</p>
          </div>
        </div>
        <!--
        <div class="form-group" show-errors>
          <label class="control-label" for="domicilio">Localidad</label>
          <select name="localidad" ng-model="vm.localidad.descripcion" id="localidad" class="form-control"
                 placeholder="Localidad de la Empresa" required>
          <div ng-messages="vm.form.empresaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ingrese Localidad</p>
          </div>
        </div>
        -->
        <div class="form-group" show-errors>
          <label class="control-label" for="domicilio">Teléfono</label>
          <input name="telefono" type="text" ng-model="vm.empresa.telefono" id="telefono" class="form-control"
                 placeholder="Teléfono de la Empresa">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="website">Sitio web</label>
          <input name="website" type="url" ng-model="vm.empresa.website" id="website" class="form-control"
                 placeholder="Sitio Web de la Empresa">
          <div ng-messages="vm.form.empresaForm.website.$error" role="alert">
            <p class="help-block error-text" ng-message="url">Formato incorrecto</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Categorías</label>
          <angucomplete-alt id="categoria_search"
                            placeholder="Buscar categoría"
                            pause="100"
                            selected-object="vm.seleccionarCategoria"
                            local-data="vm.categorias"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="form-control form-control-small"
                            match-class="highlight"
                            clear-selected="true">
        </div>
        <div class="form-group" show-errors>
          <span ng-repeat="categoria in vm.empresa.categorias">
            <span class="label label-default" >
              <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="vm.quitarCategoria(categoria)"></span>
               {{categoria.title}}
            </span>
          </span>
          <div ng-messages="vm.form.empresaForm.categorias.$error" role="alert">
            <p class="help-block error-text" ng-message="url">Formato incorrecto</p>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <hr style="margin-top:0;width:90%">
          <button ng-click="save" type="submit" class="btn btn-success btn-full-width">
            <strong>{{vm.empresa._id ? 'Actualizar' : 'Crear'}}</strong>
          </button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-lg-8 col-xs-12">
    <div id="map" style="width:100%;height:390px;border-radius:4px"></div>
  </div>
</section>
