<section>
  <div class="page-header">
    <h1>Empresas</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" aria-label="..." ng-model="vm.soloLikeadas">Solo favoritas
        </span>
          <input type="text" class="form-control" aria-label="..." ng-model="vm.filtro">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
  </div>

  <div class="list-group" id="list-empresas">
    <a ng-repeat="empresa in ((vm.soloLikeadas ? (vm.empresas | filter:{liked:vm.soloLikeadas}) : vm.empresas)
    | filter:vm.filtro) "
       ui-sref="empresas.view({ empresaId: empresa._id })"
       class="list-group-item container">
      <h4 class="list-group-item-heading"><span ng-bind="empresa.razonSocial"></span></h4>
      <small class="list-group-item-text">
        <span ng-bind="empresa.domicilio" class="col-md-4"></span>
        <span ng-if="empresa.telefono.length > 0" class="col-md-4">
          <i class="material-icons md-14">call</i> <span ng-bind="empresa.telefono"></span>
        </span>
        <span ng-if="!empresa.telefono.length > 0" class="col-md-4">
          <i class="material-icons md-14">call</i> <span> No disponible </span>
        </span>
        <span ng-if="vm.authentication.user" class="col-md-4">
          creado el
          <span ng-bind="empresa.created | date:'mediumDate'"></span>
          por
          <span ng-if="empresa.user" ng-bind="empresa.user.displayName"></span>
        </span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.empresas.$resolved && !vm.empresas.length">
    No hay Empresas aún, ¿Por qué no <a ui-sref="empresas.create">creas una</a>?
  </div>
</section>
