<section>
  <div class="page-header">
    <h1>Empresas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="empresa in vm.empresas"
       ui-sref="empresas.view({ empresaId: empresa._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="empresa.created | date:'mediumDate'"></span>
        by
        <span ng-if="empresa.user" ng-bind="empresa.user.displayName"></span>
        <span ng-if="!empresa.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="empresa.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.empresas.$resolved && !vm.empresas.length">
    No Empresas yet, why don't you <a ui-sref="empresas.create">create one</a>?
  </div>
</section>
