<section>
  <div class="page-header">
    <h1 ng-bind="vm.empresa.razonSocial"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.empresa.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="empresas.edit({ empresaId: vm.empresa._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.empresa.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.empresa.user"
            ng-bind="vm.empresa.user.displayName"></span>
      <span ng-if="!vm.empresa.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.empresa.content"></p>
</section>
