<section ng-controller="HomeController" class="home">
  <div class="search-container">
    <div class="col-lg-8 col-xs-12">
      <div id="map" style="width:100%;height:520px;border-radius:4px"></div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="search-form-wrapper">
        <form class="search-form" ng-submit="search()">
          <input ng-model="search_term" class="form-control search-input" type="text">
          <div class="radius-options-container">
            <span ng-click="setSearchRadius(500, '500m')" id="radius-500" class="radius-option">500m</span>
            <span ng-click="setSearchRadius(1000, '1km')" id="radius-1000" class="radius-option">1km</span>
            <span ng-click="setSearchRadius(5000, '5km')" id="radius-5000" class="radius-option">5km</span>
            <span ng-click="setSearchRadius(10000, '10km')" id="radius-10000" class="radius-option">10km</span>
            <span ng-click="setSearchRadius(20000, '20km')" id="radius-20000" class="radius-option">20km</span>
          </div>
          <div class="search-filter">
            <i ng-click="setFilter('all')" id="all" class="material-icons" alt="todos">assignment</i>
            <i ng-click="setFilter('store')" id="store" class="material-icons" alt="negocios">store</i>
            <i ng-click="setFilter('car')" id="car" class="material-icons" alt="transporte">directions_car</i>
            <i ng-click="setFilter('hotel')" id="hotel" class="material-icons" alt="hospedaje">hotel</i>
            <i ng-click="setFilter('food')" id="food" class="material-icons" alt="comida">local_dining</i>
            <i ng-click="setFilter('gas_station')" id="gas_station" class="material-icons" alt="combustible">local_gas_station</i>
            <i ng-click="setFilter('health')" id="health" class="material-icons" alt="salud">local_hospital</i>
          </div>
        </form>
        <p ng-if="!search_results.length > 0" class="text-center text-muted no-results-msg" ng-bind="no_results_msg"></p>
        <div class="results" ng-if="search_results.length > 0">
          <!-- <div class="result-item" ng-click="itemClicked($index)" ng-repeat="result in search_results">
            <img ng-if="result.img_src" ng-src="{{result.img_src}}" alt="" class="result-img">
            <div class="result-description">
              <h5>{{result.name}}</h5>
              <span class="text-muted description-labels">
                <label class="pull-left label label-success label-90" ng-if="result.opening_hours.open_now">Abierto</label>
                <label class="pull-left label label-default label-90" ng-if="!result.opening_hours.open_now">Cerrado</label>
                <label class="pull-right label label-info label-90" ng-if="result.rating">
                  {{result.rating}} <i class="material-icons md-75p">star</i>
                </label>
              </span>
            </div>
          </div> -->
          <div class="result-item-2" ng-click="itemClicked($index)" ng-repeat="result in search_results">
            <div class="result-img-container">
              <img ng-if="result.img_src" ng-src="{{result.img_src}}" alt="" class="result-img">
              <span class="pull-left label label-success label-90 custom-label" ng-if="result.opening_hours.open_now">Abierto</span>
              <span class="pull-left label label-default label-90 custom-label" ng-if="!result.opening_hours.open_now">Cerrado</span>
            </div>
            <div class="result-description">
              <h5>{{result.name}}</h5>
              <div class="result-item-2-options">
                <i class="material-icons md-22 btn-save-place">favorite_border</i>
                <span class="custom-fav-counter" ng-if="result.rating">
                  {{result.rating}} <i class="material-icons md-22">star</i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="result-detail invisible">
        <button class="pull-left hide-btn" type="button" name="hide_detail" ng-click="hideDetail()">
          <i class="material-icons md-18">arrow_back</i>
        </button>

        <div class="result-detail-img"></div>
        <div class="reviews" ng-model="current_review" ng-if="current_review">
          <i class="material-icons reviews-controls" ng-click="getPreviousReview()">keyboard_arrow_left</i>
          <div class="review-container">
            <img class="review-avatar" ng-src="{{current_review.profile_photo_url}}" alt="" />
            <div class="review-description">
              <span class="review-author text-muted">
                {{current_review.author_name}} - {{current_review.rating}} <i class="material-icons md-14">star</i>
              </span>
              <p class="review-text"> {{current_review.text}} </p>
              <a href="{{current_review.author_url}}">Ver más</a>
            </div>
          </div>
          <i class="material-icons reviews-controls" ng-click="getNextReview()">keyboard_arrow_right</i>
        </div>
        <div class="detail-text">
          <div class="title">
            <h4 class="pull-left" id="name"></h4>
            <label class="pull-right label label-info label-100" id="rating-label">
               <span id="rating"></span><i class="material-icons md-75p">star</i>
            </label>
          </div>
          <div class="subtitle">
            <h5><i class="material-icons md-16">local_offer</i><span id="tipos"></span></h5>
          </div>
          <div class="place-info">
            <ul>
              <li><i class="material-icons">room</i><span id="direccion"></span></li>
              <li><i class="material-icons">explore</i><a id="url" href="">Sitio Web</a></li>
              <li><i class="material-icons">call</i><span id="telefono"></span></li>
              <li>
                <i class="material-icons">schedule</i>
                <span id="horarios">Cerrado</span>
                <button class="show-horarios-btn" type="button" name="button" ng-click="toggleHorarios()">
                  <i class="material-icons">keyboard_arrow_down</i>
                </button>
              </li>
            </ul>
            <div class="horarios-info invisible">
              <table class="horarios-table">
                <tbody class="horarios-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
