body{
    background-color: rgba(0,0,0,.8);
    background-image: url("../img/black-linen.png");
}

.nav-section{
    display: flex;
    justify-content: center;
}

.navbar-custom{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border:none;
    padding: 0;
}

.navbar-custom .navbar-form{
    box-shadow: none;
    border:none;
}

.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-pelicula{
    margin: 0 5px;
    text-align: center;
    line-height: .9;
}

.item-pelicula .titulo{
    margin-top: 15px;
    color: white;
    font-weight: 100;
}

.item-pelicula .portada{
    border-radius: 3px;
    box-shadow: 3px 2px 8px rgba(0,0,0,.52);
}

.item-pelicula .titulo,
.item-pelicula .puntaje {
    text-shadow: 3px 2px 8px rgba(0,0,0,.52);
}

/* Efecto estrellas */
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: rgba(255,215,0,.8);
}

.btn-centered{
    display: flex;
    justify-content: center;
}

.btn-cargar-mas{
    margin: 40px auto;
}

.panel-form{
    margin-top: 20px;
    width: auto;
}

.form-header-container{
    display: flex;
    justify-content: space-between;
}


.save-movie-section{
    display: flex;
    justify-content: center;
}
