@charset "UTF-8";
body{
    background-color: rgba(0,0,0,.8);
    background-image: url("../img/black-linen.png");
    padding-top: 80px;
}

.search-input, .search-input-alta{display: table;padding-left: 30px; width: 100%}

#search-term-input{
    width: 98%;
    display: table-cell;
    vertical-align: center
}
#search-term-button{
    width: 5%;
    display: table-cell;
    /*text-align: center;*/
    /*vertical-align: center*/
    top: 3px;
}

.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-pelicula{
    margin: 0 5px;
    text-align: center;
    line-height: 0.2;
}

.item-pelicula .titulo{
    margin-top: 15px;
    color: white;
    line-height: 1.2;
}

.item-pelicula .portada, .portada{
    border-radius: 3px;
    box-shadow: 3px 2px 8px rgba(0,0,0,.52);
}

.item-pelicula .titulo,
.item-pelicula .puntaje {
    text-shadow: 3px 2px 8px rgba(0,0,0,.52);
}
.item-pelicula .puntaje-modal{
    text-shadow: none;
    margin-top: 10px;
}
.item-pelicula .puntaje-modal .glyphicon-star,
.item-pelicula .puntaje-modal .glyphicon-star-empty{
    font-size: 28px
}

.glyphicon-star,
.glyphicon-star-empty{
    margin-bottom: 20px;
    font-size: 24px;
    color: rgba(255,215,0,.8);
}

.stars{
    text-align: center;
}

.btn-centered{
    display: flex;
    justify-content: center;
}

.btn-cargar-mas{
    margin: 40px auto;
}

.panel-form{
    margin-top: 10px;
    width: auto;
}

.form-header-container{
    display: flex;
    justify-content: space-between;
}

.form-header-left{
    margin: 10px 0px;
}
.form-header-left a{
    color: #999;
}

.form-header-left a:hover{
    color: black;
    text-decoration: none;
}


.save-movie-section{
    display: flex;
    justify-content: center;
}

.portada-container{
    text-align: center;
    margin-bottom: 20px;
}

.form-alta{
    width: 100%;
    text-align: center;
}

#btn-guardar{
    text-align: center;
}


.puntaje-form{
    text-align: center
}

.info-pelicula #title-display{
    font-weight: 700;
}

.info-pelicula .portada-404{
    width: 100%;
    height: auto;
    box-shadow: none;
    border-radius: 5px;
}

.item-pelicula .portada-search-result{
    box-shadow:none;
    margin-bottom: 10px;
}


.item-pelicula .titulo-result{
    text-shadow: none;
    color: black;
    line-height: normal;
    word-wrap: break-word;
}

.year-result{
    font-size: 11px;
    color: #999;
}

.search-result-item{
    display: inline-block;
    min-height: 250px;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}


.item-pelicula .portada-search-result:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,.82);
}

.item-pelicula .portada-container-404{
    text-align: center;
}


.result-pages-bottom{
    clear:both;
}

span.overlay {
	/*background: center center no-repeat rgba(0,0,0,.75);*/
    background: center center no-repeat rgba(0,0,0,.60);
    border-radius: 3px;
	height: 225px;
	position: absolute;
	width: 150px;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px  #000;
	box-shadow: 0px 0px 4px  #000;
    opacity: 0;
    transition: opacity .25s ease;
}
span.overlay:hover {
    opacity: 1;
}
span.overlay:hover::before{
    content: 'Comparar';
    text-shadow: 0px 0px 5px black;
    height: 28px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
    position:absolute;
    top: 50%;
    right: 10%;
    cursor: pointer;
}


.rating-grupo, .rating-local{
    text-align: center
}

.rating-win h6{
    color: #4caf50;
}

.rating-err h6{
    color: #e51c23;
}

.divider-left {
  border-right: 2px dashed #ddd;
}
