body {
  padding: 10px
}

.logo{
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.logo:hover{
  text-decoration: none;
}

.thin{
  font-weight: 100
}

.header{
  display: flex;
  align-items: center;
}
.header .cta{
  display: flex;
  align-items: center;
  font-size: 14px
}

.custom-cta{
  border: 2px solid #2196f3;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 700;
}
.custom-cta:hover{
  text-decoration:none;
  background-color: #2196f3;
  color:white;
}



.video-list{
  margin-top: 20px;
  margin-left: 5%;
}

.video-item{
  padding: 0px;
  margin-bottom: 12px;
  margin-right: 25px;
}

.video-item img{
  width: 100%;
  height: 110px;
  border-radius: 2px
}

.bs-docs-sidebar .nav > li > a:hover, 
.bs-docs-sidebar .nav > li > a:focus{
  color: #2196f3;
  border-left: 1px solid #2196f3
}


.btn-full-width{
  width: 100%
}

.custom-hr-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin: 10px auto;
}

.custom-hr{
    margin-top: 21px;
    margin-bottom: 21px;
    padding: 0px 10px;
    border: 0;
    border-top: 1px solid #ecf0f1;
    display: inline-block;
    width: 20%;
}

.custom-hr-centered{
    display: flex;
    width: 80%;
}
