*::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.08);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.alert.alert-warning a{
	color: #333333;
}

.logo img{
	width: 40px;
    height: 40px;
    display: inline-block;
}

.logo {
	display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'lobster', cursive;
}
.logo:hover,.logo:visited,.logo:active,.logo:focus{
    color: white !important;
}

.location-disabled{
    background-color: rgba(0,0,0,.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enable-geolocation-btn{
    margin-top: 10px;
}

.home{
	margin-top: 30px;
}


.home .search-container .results {
    margin-top: 10px;
    max-height: 420px;
    overflow-y: scroll;
}

.home .search-container .result-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    height: 80px;
    padding: 10px 0;
}

.home .search-container .result-item .result-img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 5px;
    border-radius: 3px;
}

.home .search-container .result-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.home .search-container .result-item .result-description h5{
    margin-top: 0;
}

.search-container{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.search-filter{
  display:flex;
  justify-content: space-between;
  padding: 10px 0;
  color: rgba(0,0,0,.2);
}

.search-filter .active{
  /*border-bottom: 3px solid rgba(0,0,0,.2);*/
  /*color: #2c3e50;*/
  color: #00edd9;
  /*text-shadow: 0px 0px 5px rgba(0,0,0,.1)*/
}


@media (min-width: 1024px){
    .search-container{
        flex-direction: row;
    }
}
