extends layout

block navigation_bar
    .landing-content
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-xs-12
                        .logo-container
                            h1.text-center Book Search
                        input(type="text", class="form-control", style="margin-bottom:20px")
            .row
                .col-lg-8.col-lg-offset-2.col-xs-12.text-center
                    .col-xs-6
                        a(href="/libros/coleccion" class="btn btn-default") Ver mi Colección
                    .col-xs-6
                        a(href="/libros/buscar" class="btn btn-default") Buscar un Libro