@charset "UTF-8";
.body-content{
    padding-top: 80px;
    background-color: #FFFFFF;
}

.navbar-header{
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.navbar{
	font-family: 'Rock Salt', cursive;
	font-size: 11px;
}

#btn-hamburger{
	order:1;
}

.logo{
	display: inline-block;
    margin-right: 10px;
}

.logo svg{
	height: 36px;
	width: 36px;
}
.logo svg g{
	fill: #ff851b;
};

.custom-input{
	font-size: 16px !important;
}

.cabecera-tabla{
	font-size: 16px;
}
.cabecera-tabla th{
	text-align: center;
}

.item-libro{
	overflow:hidden;
}

.tapa-libro{
	height: 150px;
}

.item-info-xs {
	height: auto;
	display: flex;
	flex-direction: column;
}
.item-info-xs p{
	font-size: 20px;
}

.options{
	margin-top: 75px;
}

.options button{
	margin-right: 10px
}

.precio{
	font-size: 24px
}