@charset "UTF-8";
body{
    padding-top: 80px;
    background-color: #FFFFFF
}
/*
a {
    color:white;
}

a:hover {
    color: black;
}*/

.navbar-inverse .navbar-link {
    color: black;
}

.navbar-inverse .navbar-link:hover {
    color: white;
}


.nav-style, .nav-logo, .navbar-nav, .navbar-link{
    font-family: 'Pacifico', cursive;
    font-size: 18px
}
.nav-logo{
    font-size: 20px;
}

.btn-group-mostrar {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-inline{
    display:inline !important;
}

.item{
    box-shadow: 0px 2px 5px #E1E1E1;
    margin-right: 10px;
    margin-bottom: 15px;
}
.item:hover .btn-on-item {
    /*Muestra los botones de opcion cuando se hace hover sobre el item*/
    display: inline-block;
}

.thumb {
    position: relative;
    left: -20px;
    top: 10px;
    max-width: 110% !important;
}

.nombre-plantilla{
    border-top: 1px dashed #ecf0f1;
    padding-top: 5px;
    margin-top: 15px;
    text-align: center;
}

.btn-on-item{
    display: none;
    color: #18bc9c;
    margin-left: 20px;
    text-shadow: 0px 2px 5px #E1E1E1,
                0px 2px 5px #E1E1E1,
                0px 2px 5px #E1E1E1;
}

.btn-item-options{
    position: absolute;
    top: 10px;
    right: 15px;
}


.icon-remove{
    color: tomato;
}

.controls-container{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
    margin-top: 15px;
}

#cuerpo-carta{
    min-height: 233px;
    box-shadow: 0px 1px 5px #E1E1E1;
    padding: 10px;
}

.btn-container{
    display:flex;
    justify-content: space-between;
    /*margin-bottom: 11px;
    margin-top: 21px;*/
}
