@charset "UTF-8";

.nav-style, .nav-logo, .navbar-nav, .navbar-link{
    font-family: 'Pacifico', cursive;
    font-size: 18px
}
.nav-logo{
    font-size: 20px;
}

.btn-group-mostrar {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

body{
    padding-top: 80px;
    background-color: #FFFFFF
}

.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-inline{
    display:inline !important;
}

a {
    color:white;
}

a:hover {
    color: black;
}

.navbar-inverse .navbar-link {
    color: black;
}

.navbar-inverse .navbar-link:hover {
    color: white;
}